@model TekMarket.Models.Categorie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Category Details</h2>

<div>
    <h4>Category Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Category Label", htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.libelle)
        </dd>

        <dt>
            @Html.Label("Category Description", htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
