@model IEnumerable<TekMarket.Models.Qtecommande>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Article.libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Commande.refcomm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalprix)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Article.libelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Commande.refcomm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalprix)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
