@model TekMarket.Models.Commande

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Commande</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datecom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datecom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalprix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalprix)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.refcomm }) |
    @Html.ActionLink("Back to List", "Index")
</p>
