
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{ int clt = new TekMarket.Models.DBModel().Clients.ToList().Count;
    int adm = new TekMarket.Models.DBModel().Admins.ToList().Count;
    int prd = new TekMarket.Models.DBModel().Articles.ToList().Count;

}
<!-- =============================================== -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-icon">
        <i class="fa fa-dashboard"></i>
    </div>
    <div class="header-title">
        <h1>TEKMARKET Admin Dashboard</h1>
        <small>Very detailed & featured admin.</small>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <div id="cardbox1">
                <div class="statistic-box">
                    <i class="fa fa-user-plus fa-3x"></i>
                    <div class="counter-number pull-right">
                        <span class="count-number">@clt</span>
                        <span class="slight">
                            <i class="fa fa-play fa-rotate-270"></i>
                        </span>
                    </div>
                    <h3> Our Clients</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <div id="cardbox2">
                <div class="statistic-box">
                    <i class="fa fa-user-secret fa-3x"></i>
                    <div class="counter-number pull-right">
                        <span class="count-number">@adm</span>
                        <span class="slight">
                            <i class="fa fa-play fa-rotate-270"> </i>
                        </span>
                    </div>
                    <h3> Our Admins </h3>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <div id="cardbox3">
                <div class="statistic-box">
                    <i class="fa fa-product-hunt fa-3x"></i>
                    <div class="counter-number pull-right">
                        <i class=""></i>
                        <span class="count-number">@prd</span>
                        <span class="slight">
                            <i class="fa fa-play fa-rotate-270"> </i>
                        </span>
                    </div>
                    <h3>  Our products </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Barchart -->
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="panel panel-bd lobidisable">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>net worth by client</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <img width="600" height="400" src="@Url.Action("ChartsFun", "Admin")" />
                </div>
            </div>
        </div>
        <!-- bar chart -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="panel panel-bd lobidisable">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>products by category</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <img width="300" height="400" src="@Url.Action("ChartsFun1", "Admin")" />
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Google Map</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="google-maps">
                        <iframe src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=15+Springfield+Way,+Hythe,+CT21+5SH&amp;aq=t&amp;sll=52.8382,-2.327815&amp;sspn=8.047465,13.666992&amp;ie=UTF8&amp;hq=&amp;hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&amp;t=m&amp;z=14&amp;ll=51.077429,1.121722&amp;output=embed"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Calender</h4>
                    </div>
                </div>
                <!-- Monthly calender widget -->
                <div class="panel panel-bd">
                    <div class="panel-body">
                        <div class="monthly_calender">
                            <div class="monthly" id="m_calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


