@model IEnumerable<TekMarket.Models.Article>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Products List</h2>


<table class="table">
    <h4>
        Products List
    </h4>
    <tr>
      
        <th>
            @Html.Label("Label", htmlAttributes: new {@class = "control-label col-md-2"})
        </th>
        <th>
            @Html.Label("Description", htmlAttributes: new {@class = "control-label col-md-2"})
        </th>
        <th>
            @Html.Label("Price", htmlAttributes: new {@class = "control-label col-md-2"})
        </th>
      
        <th>
            @Html.Label("Quantity", htmlAttributes: new {@class = "control-label col-md-2"})
        </th>
        <th>
            @Html.Label("Colors", htmlAttributes: new {@class = "control-label col-md-2"})
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prix)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.qtedisponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.couleurdispo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.refarticle}) |
                @Html.ActionLink("Details", "Details", new {id = item.refarticle}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.refarticle})
            </td>
        </tr>
    }

</table>
